<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ film.titre_FILMS }}</title>
</head>
<body>
    <h1>
        {{ film.titre_FILMS }} 
    </h1>
    <p>
        {{ film.description_FILMS }}
    </p>
    <p>{{ toto }}</p>
    <img src="{{ film.image_FILMS }}" alt="affiche du film" />
    
</body>
</html>
