{% extends 'layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ film.titre_FILMS }}
{% endblock %}

{% block content %}
    <h1>
        {{ film.titre_FILMS }} 
    </h1>
    <p>
        {{ film.description_FILMS }}
    </p>
    <p>{{ toto }}</p>
    <img src="{{ film.image_FILMS }}" alt="affiche du film" />
{% endblock %}    
